[user]
	email = audrey.romanet42@gmail.com
  name = aromanet

[color]
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[format]
  pretty = "%C(yellow)%h%C(auto)%d %Creset%s %C(green)<%an - %ar>"

[alias]
  lola = log --graph --decorate --abbrev-commit --all
  loln = log --abbrev-commit -n20 HEAD
  lol = log --graph --decorate --abbrev-commit HEAD
  chk = checkout
  co = commit -m
  com = commit --amend
  s = number id
  ppik = cherry-pick
  undo = reset HEAD^
  pr = pull --rebase
  pushmaster = push origin master:aromanet
  mt = mergetool --tool=diffmerge -y
  dt = difftool --tool=diffmerge -y
  search = !sh -c \"git log --format="%h" -n 1 --grep $1 | xargs git branch -a --contains\"
  search-tag = !sh -c \" git log --format="%h" -n 1 --grep $1 | xargs git name-rev --tag --name-only\"
  a = number add -A
  r = number rm
  rs = number reset HEAD
  cc = number checkout

[core]
  editor = vim
  pager = less -XF
  excludesfile = ~/.config/git/ignore

[push]
  default = upstream  #pour ne pusher que la branche courante


[diff]
  tool=diffmerge 
[difftool "diffmerge"]
  cmd=diffmerge $LOCAL $REMOTE

[merge]
  tool=diffmerge
[mergetool "diffmerge"]
  cmd=diffmerge --merge --result=$MERGED $LOCAL $BASE $REMOTE
  trustExitCode=false
  keepBackup=false


[credential]
  helper = cache
[url "https://"]
  insteadOf = git:// #utilisation du protocole https au lieu de git lors d'un clone
[fetch]
	prune = true
