[user]
	email = audrey.romanet42@gmail.com
  name = aromanet

[color]
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[format]
  pretty = "%C(yellow)%h%C(auto)%d %Creset%s %C(green)<%an - %ar>"

[alias]
  lola = log --graph --decorate --abbrev-commit --all
  loln = log --graph --decorate --abbrev-commit -n20 HEAD
  chk = checkout
  co = commit
  com = commit --amend
  st = status
  ppik = cherry-pick
  undo = reset HEAD^
  pr = pull --rebase
  pushmaster = push origin master:aromanet
  mt = mergetool --tool=diffmerge -y
  dt = difftool --tool=diffmerge -y

[core]
  editor = vim
  pager = less -XF

[push]
  default = upstream  #pour ne pusher que la branche courante


[diff]
  tool=diffmerge 
[difftool "diffmerge"]
  cmd=diffmerge $LOCAL $REMOTE

[merge]
  tool=diffmerge
[mergetool "diffmerge"]
  cmd=diffmerge --merge --result=$MERGED $LOCAL $BASE $REMOTE
  trustExitCode=false
  keepBackup=false


[credential]
  helper = cache
