<?xml version="1.0"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="development">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="!development">
        <property name="LOG_FILE" value="/tmp/logs/my3status.log"/>
        <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

        <root level="DEBUG">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>


</configuration>
